.flex-container{

  display: flex; /* flex |inline-flex*/
  flex-direction: row; /* row| row-reverse | column | column-reverse*/
  flex-wrap: wrap; /*nowrap |wrap |wrap-reverse */
  justify-content: flex-start; /* flex-start |flex-end | center | space-between| space-around */

}
.flex-element{
  order: 0; /* 0| -n | n */
  flex-grow: 0;

}
